# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary Files
*.tmp
*.bak
*.log

# Node modules (if you add npm later)
node_modules/
package-lock.json

# Personal notes
notes.txt
TODO.txt


Anonymous_CV.docx
Anonymous_CV.html
Masood Nazari (1).pdf
Masood Nazari CV - Copy.docx
Masood Nazari CV.docx
